<!--footer尾部-->
<div id="footer" class="container-fluid" style="width:100%;height:300px;background-color:#005BAC;padding-top:80px;color:white;">
  <div class="row" style="">
    <p class="col-lg-5"><font style="font-size:21px">江苏税软软件科技有限公司（美亚柏科全资子公司）</font><br/>地址：无锡新区震泽路18号国家软件园鲸鱼A座<br />服务热线：400-888-6688<br/>总机：0510-85215243<br/>
	</p>
	<p class="col-lg-4" style="margin-top:45px;width:25%;">股票代码：300188<br/>邮箱：jiangssr@taxsoft<br/>网站：www.taxsoftware.com
	</p>
	<p class="col-lg-3" style="font-size: 14px; text-align: center;">
	  <!--<div style="width: 1px;background: white;height: 100px;float:left;"></div>-->
	  <img src="img/common/shuiruan-code.png" style="width:100px;margin-top:50px;"><img src="img/common/meiya-code.png" style="width:100px;margin-left:12px;margin-top:50px;"><br />扫一扫，关注微信公众号
	</p>
  </div>
</div>