
<!--头部-->
<div class="header" style="border-bottom: 1px solid #005bac;background-color:#33AECC;">
	
    <div class="head clearfix">
        <div class="logo"><a href=""><img src="/TaxSoft/img/common/logo.png" alt=""; style="height:50px;margin-top:12px;"/></a></div>
        <script type="text/javascript">
			if($(window).width()<770){
				$(".logo").eq(0).css("margin-left","25vw");
			}
		</script>
        <div class="nav_m">
            <div class="n_icon" style="right: 110px;"></div>
            <ul class="nav clearfix">
                <li class="now"><a href="index.html">首页</a></li>
                <li>
                    <a href="html/security-1.html">公司风采</a>
                    <div class="er" style="left: -50px;">
                        <div class="er_m">
                            <ul style="height:120px;border-right: none;width: 23%;taxt-align:center;">
                                <li><a href="">企业文化</a></li>
                                <li><a href="">关于我们</a></li>
                                <li><a href="">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="html/system-1.html">新闻中心</a>
                    <div class="er" style="left: -50px;">
                        <div class="er_m">
                            <ul style="height:80px;border-right: none;width: 23%;">
                                <li><a href="">企业新闻</a></li>
                                <li><a href="">行业新闻</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="html/solve-1.html">产品信息</a>
                    <div class="er">
                        <div class="er_m">
                            <ul style="height:120px;">
                                <li><a href="">税务类产品</a></li>
                                <li><a href="">工商类产品</a></li>
                                <li><a href="">数据采集类产品</a></li>
                            </ul>
                            <div style="position: absolute; width: 1px;height: 97px;border-left: 1px solid #5f9edc;top: 10px;left: 224px;"></div>
                            <ul style="height:120px;border-right: none;">
                                <li><a href="">海关类产品</a></li>
                                <li><a href="">美亚产品</a></li>
                                <li><a href="">其他产品</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="html/service-1.html">人才招聘</a>
                    <div class="er" style="left: -50px;">
                        <div class="er_m">
                            <ul style="height:120px;border-right: none;width: 23%;taxt-align:center;">
                                <li><a href="">研发部</a></li>
                                <li><a href="">市场部</a></li>
                                <li><a href="">服务部</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="html/about-1.html">经典案例</a>
                </li>

                <label class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="color:white;font-family: 宋体;font-size:16px;margin-left:180px;margin-top:60px;background-color:#33AECC;border:none;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">登录
                </label>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">用户登录</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-div">
                                    <label class="lb-input-1">登录账号:</label><input type="text" class="input-user" id="loginAccount" /><br/>
                                    <label class="lb-input-2">登录密码:</label><input type="text" class="input-user" id="loginPassword" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="btnSubmit">确定</button>
                            </div>
                        </div>
                    </div>
                </div>

            </ul>
        </div>
    </div>
</div>
<!--头部-->