
<!--头部-->
<div class="header" style="border-bottom: 1px solid #005bac;background-color:#33AECC;">
	
    <div class="head clearfix">
        <div class="logo"><a href=""><img src="/TaxSoft/img/common/logo.png" alt=""/></a></div>
        <script type="text/javascript">
			if($(window).width()<770){
				$(".logo").eq(0).css("margin-left","25vw");
			}
		</script>
        <div class="nav_m">
            <div class="n_icon" style="right: 110px;"></div>
            <ul class="nav clearfix">
                <li class="now"><a href="index.html">首页</a></li>
                <li>
                	<a href="/TaxSoft/security-1.html">公司风采</a>
                    <div class="er">
                    	<div class="er_m">
                            <!--<i>&nbsp;</i>-->
                            <ul>
                                <li><a href="">雕刻凹版+安全线技术</a></li>
								<li><a href="">塑膜定位全息揭开技术</a></li>
								<li><a href="">尖端纳米光谱技术</a></li>
								<li><a href="">S21CODE+镜面综合防伪技术</a></li>
							</ul>
							<div style="position: absolute; width: 1px;height: 137px;border-left: 1px solid #5f9edc;top: 10px;left: 240px;"></div>
							<ul>
								<li><a href="">核径迹防伪技术</a></li>
								<li><a href="">局部洗铝技术</a></li>
								<li><a href="">嵌入激光彩色二维码技术</a></li>
							</ul>
							<div style="position: absolute; width: 1px;height: 137px;border-left: 1px solid #5f9edc;top: 10px;left: 460px;"></div>
						    <ul style="border-right: none;">
								<li><a href="">揭开式纸质防伪技术</a></li>
								<li><a href="">防解开留底防伪技术</a></li>
								<li><a href="">刮开式纸质防伪技术</a></li>
								<li><a href="">塑膜揭刮双效防伪技术</a></li>
							</ul>
                            
                        </div>
                    </div>
                </li>
                <li>
                	<a href="/TaxSoft/system-1.html">新闻中心</a>
                    <div class="er">
                    	<div class="er_m">
                            <!--<i>&nbsp;</i>-->
                            <ul style="height:120px;">
                                <li><a href="">二维码防伪平台</a></li>
								<li><a href="">物流防窜货管理系统</a></li>
								<li><a href="">生产赋码关联管理系统</a></li>
							</ul>
							<div style="position: absolute; width: 1px;height: 97px;border-left: 1px solid #5f9edc;top: 10px;left: 224px;"></div>
							<ul style="height:120px;border-right: none;">
								<li><a href="">产品质量追溯系统</a></li>
								<li><a href="">中国防伪溯源管理平台</a></li>
								<li><a href="">一物一码微信营销系统</a></li>
							</ul>
						   
                        </div>
                    </div>
                </li>
                <li>
                	<a href="/TaxSoft/solve-1.html">产品信息</a>
                    <div class="er">
                    	<div class="er_m">
                            <ul style="height:120px;">
                                <li><a href="">化妆品行业防窜货解决方案</a></li>
								<li><a href="">白酒行业防窜货解决方案</a></li>
								<li><a href="">农产品行业防窜货解决方案</a></li>
							</ul>
							<div style="position: absolute; width: 1px;height: 97px;border-left: 1px solid #5f9edc;top: 10px;left: 224px;"></div>
							<ul style="height:120px;border-right: none;">
								<li><a href="">日化行业</a></li>
								<li><a href="">医药行业</a></li>
								<li><a href="">母婴及乳制品行业</a></li>
							</ul>
             
                        </div>
                    </div>
                </li>
                <li>
                	<a href="/TaxSoft/service-1.html">人才招聘</a>
                    <div class="er" style="left: -50px;">
                    	<div class="er_m">
                             <ul style="height:120px;border-right: none;width: 23%;">
                                <li><a href="">顾问式服务</a></li>
								<li><a href="">实施培训服务</a></li>
								<li><a href="">售后贴心服务</a></li>
							</ul>
                        </div>
                    </div>
                </li>
                <li>
                	<a href="/TaxSoft/about-1.html">经典案例</a>
                    <div class="er" style="left: -30px;">
                    	<div class="er_m">
                            <ul style="height:120px;border-right: none;height:180px; width: 21%;">
                                <li><a href="/TaxSoft/about-1.html">公司简介</a></li>
								<li><a href="/TaxSoft/about-2.html">联系我们</a></li>
								<li><a href="/TaxSoft/about-3.html">加入我们</a></li>
								<li><a href="/TaxSoft/about-4.html">行业资讯</a></li>
							</ul>
                        </div>
                    </div>
                </li>
                
            </ul>
            <div class="such visible-lg" style="position: absolute; top: 44px;left:660px;">
                		<input type="text" id="searchVal" placeholder="搜索关键词" style="outline:none;height: 25px;border-radius: 25px;padding-left: 10px; border: 1px solid #c0c3d2;"/>
                	    <a href="javascript:;" id="searchBtn" style="background: url(img/seach.png) no-repeat;display: inline-block; width: 40px; height: 40px;position: absolute;top:6px;left:88%;border: none;"></a>
             </div>
        </div>
    </div>
</div>
<!--头部-->