
<!--头部-->
<div class="header" style="border-bottom: 1px solid #005bac;background-color:#005BAC;">
	
    <div class="head clearfix">
        <div class="logo"><a href=""><img src="/TaxSoft/img/common/logo.png" alt=""; style="height:50px;margin-top:12px;"/></a></div>
        <script type="text/javascript">
			if($(window).width()<770){
				$(".logo").eq(0).css("margin-left","25vw");
			}
		</script>
        <div class="nav_m">
            <div class="n_icon" style="right: 110px;"></div>
            <ul class="nav clearfix">

                <li class="now"><a href="index.html">首页</a></li>
                <li>
                    <a href="html/security-1.html">公司风采</a>
                    <div class="er" style="left: -50px;">
                        <div class="er_m">
                            <ul style="height:120px;border-right: none;width: 23%;taxt-align:center;">
                                <li><a href="">企业文化</a></li>
                                <li><a href="">公司简介</a></li>
                                <li><a href="">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="html/system-1.html">新闻中心</a>
                    <div class="er" style="left: -50px;">
                        <div class="er_m">
                            <ul style="height:80px;border-right: none;width: 23%;">
                                <li><a href="">企业新闻</a></li>
                                <li><a href="">行业新闻</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="html/solve-1.html">产品信息</a>
                    <div class="er">
                        <div class="er_m">
                            <ul style="height:120px;">
                                <li><a href="">税务类产品</a></li>
                                <li><a href="">工商类产品</a></li>
                                <li><a href="">数据采集类产品</a></li>
                            </ul>
                            <div style="position: absolute; width: 1px;height: 97px;border-left: 1px solid #5f9edc;top: 10px;left: 224px;"></div>
                            <ul style="height:120px;border-right: none;">
                                <li><a href="">海关类产品</a></li>
                                <li><a href="">美亚产品</a></li>
                                <li><a href="">其他产品</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="html/service-1.html">人才招聘</a>
                    <div class="er" style="left: -50px;">
                        <div class="er_m">
                            <ul style="height:120px;border-right: none;width: 23%;taxt-align:center;">
                                <li><a href="">研发部</a></li>
                                <li><a href="">市场部</a></li>
                                <li><a href="">服务部</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="html/about-1.html">经典案例</a>
                </li>

                <label style="color:white;font-family: 宋体;font-size:14px;margin-right:-50px;font-weight:lighter;float:right;margin-top:5px;visibility: hidden;display: block" id="accountName">用户:xxx</label>
                <label class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="color:white;font-family: 宋体;font-size:14px;background-color:#005BAC;border:none;;display: block;postion:absolute;margin-right:-50px;float:right;margin-top:38px;" onmouseover="this.style.color='red'" onmouseout="this.style.color='white'" id="btnlogin">登录</label>
                <!--<div style="background-color: #00a1d2;height: 20px;width:2px;float:;margin-right:40px;margin-top:30px"></div>-->
                <label style="color:white;font-family: 宋体;font-size:14px;postion:absolute;margin-right:-100px;font-weight:lighter;float:right;display: block;margin-top:44px;visibility: hidden"  onmouseover="this.style.color='red'" onmouseout="this.style.color='white'" id="exit">注销</label>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="text-align: -webkit-center;margin-top: 15%">
                        <div class="modal-content" style="width: 450px;height: 250px;padding-top: 20px;padding-right: 40px">

                            <form action="/TaxSoft/user/loginUser" method="post" id="loginUser" onsubmit="return submitForm()" >
                                <label class="form-inline" style="margin-left: -10px;margin-top: 10px ">
                                    <div class="form-inline-font">
                                        用户名 :
                                    </div>
                                    <div class="form-inline-input">
                                        <input type="text" name="loginAccount" maxlength="50" id="loginAccount"/>
                                    </div>
                                </label>
                                <label class="form-inline" style="margin-left: -10px;margin-top: 10px ">
                                    <div class="form-inline-font">
                                        密码 :
                                    </div>
                                    <div class="form-inline-input">
                                        <input type="password" name="loginPwd" maxlength="50" id="loginPwd"/>
                                    </div>
                                </label>
                                <label class="form-inline" style="margin-left: -10px;margin-top: 10px ">
                                    <div class="form-inline-font">
                                        验证 :
                                    </div>
                                    <div class="form-inline-input">
                                        <div class="code-box" id="code-box">
                                            <input type="text" name="code" class="code-input" />
                                            <p></p>
                                            <span id="sliver">>>></span>
                                        </div>
                                    </div>
                                </label>
                                <div class="login-btn">
                                    <button type="submit" style="margin-left: 20px;" id="loginbtn">登录</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </ul>

        </div>
    </div>
</div>
<!--头部-->