<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<title>新闻详细页</title>
		<link rel="stylesheet" type="text/css" href="/TaxSoft/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/TaxSoft/css/reset.css" />
		<script src="/TaxSoft/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/TaxSoft/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/TaxSoft/css/thems.css">
		<link rel="stylesheet" type="text/css" href="/TaxSoft/css/responsive.css">
		<link rel="stylesheet" type="text/css" href="/TaxSoft/css/security.css" />
		<script src="/TaxSoft/js/search2.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>

	<!--头部-->
	<div id="head"></div>
	<!--头部-->

		<div class="box_body">
			<img src="/TaxSoft/img/s5.jpg" style="width: 100%;" />
		</div>
		<div class="container" style="margin-top: 20px;">
			<div class="row body_1 hidden-xs">当前页面：新闻中心</div>
			<div class="row" style="margin-top: 20px;">
					<div class="col-lg-2 col-md-2 body_1L">
					<ul>
						<li style="font-size: 18px;background: #005bac; height: 50px;color: white;line-height: 50px;text-align: center;padding: 0;">新闻中心</li>
						<li style="color: #000000; font-weight: bold;background: #eae8e6;border-left: 5px solid #1e94fd;">公司新闻</li>
						<a href="about-1.html">
							<li>行业新闻</li>
						</a>
					</ul>
				</div>
				<div class="col-lg-8  col-md-8 col-lg-push-1 col-md-push-1 body_1R">
					<div class="body_1R1" style="width: 100%; text-align: center;">
						<p id="news01title" style="margin-bottom: 20px;font-size: 16px;color: #000000;font-weight: bold;">2017年物联网领域8大发展趋势分析  </p>
						<p style="margin-bottom: 20px;">[发布时间:<span id="news01time">2017-03-14</span><span>]</span></span></p>
						<a href="#"></a>
						<a href="#" style="background-position-x:-23px;"></a>
						<a href="#" style="background-position-x:-46px;"></a>
						<a href="#" style="background-position-x:-69px;"></a>
						<a href="#" style="background-position-x:-92px;"></a>
						<a href="#" style="background-position-x:-115px;"></a>
					</div>
					<div class="body_1R2" style="padding-bottom: 40px; border-top: 1px solid #d2d2d2; margin-top: 20px;">
						<img id="news01img" src="/TaxSoft/img/img1-1.png" style="width: 50%;margin-top: 30px;height: auto;float: left;" />
						<div>
							<p id="news01content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017年，物联网领域最主要的挑战仍然是互联网安全。引发安全问题的部分原因主要来自用户轻视安全管理使用规定，同时，大部分初创企业以及设备制造商也不断添加可疑的功能，这些行
							为将在无形中增加物联网安全风险。未来，随着物联网的进一步普及与发展，这种安全风险将会随之扩大。总体来看，2017年，全球物联网将会沿以下十个方向发展。
                            物联网即将创造的商业模式将会满足电子商务市场、垂直市场、横向市场以及消费市场所有的形式。以消费者设备共享使用为代表的新商业模式将会大大降低设备拥有者的成本。与此同
							时，产品服务包也将是消费者设备共享模式的关键要素之一。这类设备，如亚马逊公司的Alexa声音助手，都可配合Echo、Tap、Echo Dot等智能语音助手产品。借助产品服务包，用户可获得
							识别声音，预定车辆、收听流媒体音乐等相关服务。未来，随着物联网的进一步普及与发展，这种安全风险将会随之扩大。总体来看，2017年，全球物联网将会沿以下十个方向发展。
								物联网即将创造的商业模式将会满足电子商务市场、垂直市场、横向市场以及消费市场所有的形式。以消费者设备共享使用为代表的新商业模式将会大大降低设备拥有者的成本。与此同
								时，产品服务包也将是消费者设备共享模式的关键要素之一。这类设备，如亚马逊公司的Alexa声音助手，都可配合Echo、Tap、Echo Dot等智能语音助手产品。借助产品服务包，用户可获得
								识别声音，预定车辆、收听流媒体音乐等相关服务。</p>
						</div>
						<div style="width: 100%;text-align: center;margin-top: 80px;">
							<a  class="returnA" href="#">返回上级</a>
						</div>
					</div>
				</div>

			</div>

		</div>

	<!--尾部-->
	<div id="foot"></div>
	<!--尾部-->
	</div>

	<script language="javascript">
        $(function(){
            $("#head").load("/TaxSoft/common/header.html");
            $("#foot").load("/TaxSoft/common/footer.html");
        });
	</script>

	<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url:"/TaxSoft/news/queryData",
                type:"post",
                data:"",
                contentType:"application/json",
                dataType:"json",
                success:function (data,textStatus) {
                    $('#news01title').html(data.rows[0].ftitle);
                    $("#news01img").attr("src",data.rows[0].fpic);
                    $('#news01content').html(data.rows[0].fcontent);
                    $('#news01time').html(data.rows[0].ftime);

                    document.getElementById("scrollcopy").innerHTML = document.getElementById("scrollcon").innerHTML;
                    MyMar=setInterval(Marquee,speed);
                }
            });
        });
        </script>
	</body>

</html>