<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<title>公司风采</title>
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/reset.css"/>
<script src="/TaxSoft/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/TaxSoft/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/thems.css">
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/responsive.css">
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/security.css"/>
<script src="/TaxSoft/js/search2.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>

<!--头部-->
<div id="head"></div>
<!--头部-->

<div class="box_body">
	<img src="/TaxSoft/img/s4.png" style="width: 100%;"/>
</div>
<div class="container" style="margin-top: 20px;">
	<div class="row body_1 hidden-xs">当前页面：公司风采</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-lg-2 col-md-2 body_1L">
			<ul>
				<li style="font-size: 18px;background: #005bac; height: 50px;color: white;line-height: 50px;text-align: center;padding: 0;">公司风采</li>
				<li id="s1" style="color: #000000; font-weight: bold;background: #eae8e6;border-left: 5px solid #1e94fd;">企业文化</li>
				<a href="#"><li id="s2" class="body_1a">公司简介</li></a>
				<a href="#"><li id="s3">联系我们</li></a>
			</ul>
		</div>
		<div class="col-lg-8  col-md-8 col-lg-push-1 col-md-push-1 body_1R">

			<div id="qywh" class="body_1R2" style="padding-bottom: 80px;display:none;">
				<div class="body_1R1" style="width: 100%; text-align: center;">
					<p style="margin-bottom: 20px;font-size: 24px;color: black;font-weight: bold;">企业文化</p>
				</div>
				<img src="/TaxSoft/img/company.jpg" style="width: 100%;margin-top: 30px;" />
				<div>
					<p>江苏税软软件科技有限公司是厦门美亚柏科信息股份有限公司（股票代码：300188，大数据、电子取证、网络安全等龙头股票）全资子公司，是专业从事税务数据研究分析、为税务局提供软件研发和服务的双软企业。目前拥有自主知识产权的数据采集软件、电子查帐软件、一户式评定软件、案件集中管理软件、税务鉴证业务软件等系列软件产品。其中电子查帐软件及一户式评定软件已拥有超过90%的市场占有率。</p>

					<p>在企业数据采集领域，江苏税软已实现企业ERP数据采集能力，特别是业务数据的模糊采集，并对国外ERP软件数据完成接口分析，如SAP、ORACLE、FOURSHEFT等软件接口，更有效地为后续的税务分析提供丰富的数据源。</p>

					<p>在电子稽查领域，江苏税软凭借多年查帐软件经验及众多的税务分析专家，成功开发出了一套分行业多税种的电子稽查解决方案。目前已完成了对房地产业、建安业、汽车4S店、超市卖场、煤炭采掘、电力、航空、保险等行业的稽查分析及软件模型开发。</p>

					<p>在税务评估领域，江苏税软凭借多年稽查经验，突破了税务征管数据与企业数据的多角度比对分析、多指标比对分析，并且对成本倒轧、帐实比对、关联交易分析、行业对比分析等进行了模型开发，同时还引入了第三方数据，大大丰富了评估的数据源。</p>

					<p>在案件集中管理领域，融合了数据安全、绩效评估、行业分析、智能预案、增值选案等先进的理念。目前在青岛地税、无锡地税取得了很好的应用效果。</p>

					<p>在税务鉴证业务领域，江苏税软与北京洪海明珠税务事务所联合开发了税务鉴证底稿管理及分析软件，目前已有近300多家税务师事务所在应用此软件，对税务鉴证业务绝对是一个质的飞跃。</p>

					<p>同时在税务服务领域，江苏税软紧密遵循ISO9000服务体系建设。从三年前开始搭建总部、各省办事处及各城市合作伙伴的三级服务网络，目前省级办事处已达25个，基本实现现场服务。</p>

					<p>十年的耕耘，十年的启航，在未来的更多个十年里江苏税软将以更专业的税务服务，更优质的软件产品，打造出在税务研发及服务领域具有税软特色的专业品牌，来回报客户、回报员工。</p>
				</div>
			</div>


			<div id="gsjj" class="body_1R2" style="padding-bottom: 80px;display:none;">
				<div class="body_1R1" style="width: 100%; text-align: center;">
					<p style="margin-bottom: 20px;font-size: 24px;color: black;font-weight: bold;">公司简介</p>
				</div>
				<img src="/TaxSoft/img/company.jpg" style="width: 100%;margin-top: 30px;" />
				<div>
					<p>江苏税软软件科技有限公司是厦门美亚柏科信息股份有限公司（股票代码：300188，大数据、电子取证、网络安全等龙头股票）全资子公司，是专业从事税务数据研究分析、为税务局提供软件研发和服务的双软企业。目前拥有自主知识产权的数据采集软件、电子查帐软件、一户式评定软件、案件集中管理软件、税务鉴证业务软件等系列软件产品。其中电子查帐软件及一户式评定软件已拥有超过90%的市场占有率。</p>

					<p>在企业数据采集领域，江苏税软已实现企业ERP数据采集能力，特别是业务数据的模糊采集，并对国外ERP软件数据完成接口分析，如SAP、ORACLE、FOURSHEFT等软件接口，更有效地为后续的税务分析提供丰富的数据源。</p>

					<p>在电子稽查领域，江苏税软凭借多年查帐软件经验及众多的税务分析专家，成功开发出了一套分行业多税种的电子稽查解决方案。目前已完成了对房地产业、建安业、汽车4S店、超市卖场、煤炭采掘、电力、航空、保险等行业的稽查分析及软件模型开发。</p>

					<p>在税务评估领域，江苏税软凭借多年稽查经验，突破了税务征管数据与企业数据的多角度比对分析、多指标比对分析，并且对成本倒轧、帐实比对、关联交易分析、行业对比分析等进行了模型开发，同时还引入了第三方数据，大大丰富了评估的数据源。</p>

					<p>在案件集中管理领域，融合了数据安全、绩效评估、行业分析、智能预案、增值选案等先进的理念。目前在青岛地税、无锡地税取得了很好的应用效果。</p>

					<p>在税务鉴证业务领域，江苏税软与北京洪海明珠税务事务所联合开发了税务鉴证底稿管理及分析软件，目前已有近300多家税务师事务所在应用此软件，对税务鉴证业务绝对是一个质的飞跃。</p>

					<p>同时在税务服务领域，江苏税软紧密遵循ISO9000服务体系建设。从三年前开始搭建总部、各省办事处及各城市合作伙伴的三级服务网络，目前省级办事处已达25个，基本实现现场服务。</p>

					<p>十年的耕耘，十年的启航，在未来的更多个十年里江苏税软将以更专业的税务服务，更优质的软件产品，打造出在税务研发及服务领域具有税软特色的专业品牌，来回报客户、回报员工。</p>
				</div>
			</div>

			<div id="lxwm" class="body_1R2" style="padding-bottom: 80px;display:none;">
				<div class="body_1R1" style="width: 100%; text-align: center;">
					<p style="margin-bottom: 20px;font-size: 24px;color: black;font-weight: bold;">联系我们</p>
				</div>
				<img src="/TaxSoft/img/company.jpg" style="width: 100%;margin-top: 30px;" />
				<hr/>
				<h4>江苏税软软件科技有限公司（美亚柏科全资子公司）</h4>
				<p>公司电话总机号码：0510-85215243</p>
				<p>客服热线：400-888-6688</p>
				<p>官方网站：www.taxsoftware.com</p>
				<p>电子邮箱：jiangssr@taxsoft</p>
				<p>公司地址：江苏省无锡市新区震泽路18号国家软件园鲸鱼A座</p>
			</div>


		</div>
	</div>
	
</div>
<!--尾部-->
<div id="foot"></div>
<!--尾部-->
</div>

<script language="javascript">
	$(function(){
		$("#head").load("/TaxSoft/common/header.html");
		$("#foot").load("/TaxSoft/common/footer.html");
	});
</script>

<script type="text/javascript">
var x=document.getElementById("s2");
var sID=x.id;

console.log(sID);
alert(sID);
    $(document).ready(function () {
		$("#qywh").attr("style",{"display":"block"});
    });


    if(sID=="s1"){
        $("#qywh").attr("style",{"display":"block"});
        $("#gsjj").attr("style",{"display":"none"});
        $("#lxwm").attr("style",{"display":"none"});
	}else if(sID=="s2"){
        $("#qywh").attr("style",{"display":"none"});
        $("#gsjj").attr("style",{"display":"block"});
        $("#lxwm").attr("style",{"display":"none"});
	}else{
        $("#qywh").attr("style",{"display":"none"});
        $("#gsjj").attr("style",{"display":"none"});
        $("#lxwm").attr("style",{"display":"block"});
	}

</script>



</body>
</html>
