<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/reset.css"/>
<script src="/TaxSoft/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/TaxSoft/js/jquery.form.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/TaxSoft/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/TaxSoft/js/js_z.js"></script>
<script type="text/javascript" src="/TaxSoft/js/banner.js"></script>
<script src="/TaxSoft/js/search.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/thems.css">
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/responsive.css">
<link rel="stylesheet" type="text/css" href="/TaxSoft/css/login.css">

<script type="text/javascript" src="/TaxSoft/js/login.js"></script>
<style type="text/css">
.xiaoguo img {
transition: .1s transform;
transform: translateZ(0);
}
.xiaoguo:hover img {
transform: scale(1.2, 1.2);
transition: .3s transform;

}
.er>.er_m>ul>li>a{
margin-left:30px;
}
</style>
<script language="javascript">
$(function(){
	$('#owl-demo').owlCarousel({
		items: 1,
		navigation: true,
		navigationText: ["上一个","下一个"],
		autoPlay: true,
		stopOnHover: true
	}).hover(function(){
		$('.owl-buttons').show();
	}, function(){
		$('.owl-buttons').hide();
	});
	$("#head").load("/TaxSoft/common/header.html");
	$("#foot").load("/TaxSoft/common/footer.html");
});
</script>
</head>

<body>


<!--头部-->
<div id="head"></div>
<!--头部-->

<!--幻灯片-->
<div id="banner" class="banner"> 
    <div id="owl-demo" class="owl-carousel"> 
        <a class="item" href="">
            <img src="/TaxSoft/img/s4.png" alt="">
            <!--<p class="hidden-xs" style="position: absolute;font-size:1.5vw; top: 10vw;left: 22vw; z-index: 100; color: white;">溯源防窜货产品指定销售区域 · 准确窜货查询规范企业市场 · 企业市场良性发展<br/>产品追溯原材料 · 生产 · 仓库 · 销售 · 市场全生命周期信息管理</p>-->
        </a>
        <a class="item" href="">
            <img src="/TaxSoft/img/s5.jpg" alt="">
            <!--<p class="hidden-xs" style="position: absolute;font-size:1.5vw; top: 10vw; left: 22vw;z-index: 100; color: white;">溯源防窜货产品指定销售区域 · 准确窜货查询规范企业市场 · 企业市场良性发展<br/>产品追溯原材料 · 生产 · 仓库 · 销售 · 市场全生命周期信息管理</p>-->
        </a>
        <a class="item"  href="">
            <img src="/TaxSoft/img/s3.jpg" alt="">
            <!--<p class="hidden-xs" style="position: absolute;font-size:1.5vw; top: 10vw; left: 22vw; z-index: 100; color: white;">溯源防窜货产品指定销售区域 · 准确窜货查询规范企业市场 · 企业市场良性发展<br/>产品追溯原材料 · 生产 · 仓库 · 销售 · 市场全生命周期信息管理</p>-->
        </a>
    </div>
</div>
<!--幻灯片-->

<div class="i_m container" style="background:url(/TaxSoft/img/01bg.png) no-repeat #005bac; width: 100%; margin-top: 6px;">
	<div class="i_name" style="color: white;">
		<p style="font-size: 36px;">Services</p>
        <p style="margin-top: 10px;">业务范围</p>
	</div>
    <ul class="row" id="maeginL">
    	<li class="col-lg-2 col-lg-push-3 col-sm-2 col-md-2 col-md-push-3 col-sm-push-3 col-xs-12" style="margin-left: -2%;overflow: hidden;">
        	<div class="tu"><a href="/TaxSoft/security-1.html" class="xiaoguo"><img src="/TaxSoft/img/img1-1.png" alt=""/></a></div>
            <div class="des">大数据查账产品</div>
			<a href="/TaxSoft/security-1.html" class="more">了解详情</a>
        </li>
        <li class="col-lg-2 col-lg-push-3 col-sm-2 col-md-2 col-md-push-3 col-sm-push-3 col-xs-12" style="margin-left: 2%;overflow: hidden;">
        	
            <div class="tu"><a href="/TaxSoft/security-1.html" class="xiaoguo"><img src="/TaxSoft/img/img1-2.png" alt=""/></a></div>
            <div class="des">数据采集产品</div>
			<a href="/TaxSoft/security-1.html" class="more">了解详情</a>
        </li>
        <li class="col-lg-2 col-lg-push-3 col-sm-2 col-md-2 col-sm-push-3 col-md-push-3 col-xs-12"  style="margin-left: 2%;overflow: hidden;">
        	<div class="tu"><a href="/TaxSoft/security-1.html" class="xiaoguo"><img src="/TaxSoft/img/img1-3.png" alt=""/></a></div>
            <div class="des">税务稽查产品</div>
			<a href="/TaxSoft/security-1.html" class="more">了解详情</a>
        </li>
    </ul>
</div>
<script type="text/javascript">
	if($(window).width()<770){
		console.log($(window).width())
		$("#maeginL li").css("margin-left","0");
	}
</script>
<div class="i_m row" style="background:white; width: 100%; margin-top: 6px;">
	<div class="i_name" style="color: #777777;">
		<p style="font-size: 36px;">Case introduction</p>
        <p style="margin-top: 10px;">经典案例</p>
        <p style="margin-top: 10px;">专注并精通于物联网技术与税务稽查行研分析，服务于全国各处税务稽查局，为客户提供优质的服务</p>
    </div>
    <div class="scroll" id="scrollbox" onMouseMove="MoveDiv(event);" onMouseOut="MoveOutDiv();">
		<div id="scrollcon" style="width:100%;">
			<table>
				<tbody>
					<tr>
						<td valign="top">							
							<table width="100%">
								<tr>
									<td>
										<a href="/TaxSoft/customer-z.html"><img height="164" id="case01img" width="273" alt=" " src=""/></a>
											<p id="case01title"></p>
									</td>
									<td>
										<a href="/TaxSoft/customer-z.html" ><img height="164" id="case02img" width="273" alt=" " src= /></a>
										<p id="case02title"></p>
									</td>
									<td>
										<a href="/TaxSoft/customer-z.html"><img height="164" id="case03img" width="273" alt=" " src="" /></a>
										<p id="case03title"></p>
									</td>
									<td>
										<a href="/TaxSoft/customer-z.html"><img height="164" id="case04img"width="273" alt=" " src="" /></a>
										<p id="case04title"></p>
									</td>
									<td>
										<a href="/TaxSoft/customer-z.html"><img height="164" id="case05img" width="273" alt=" " src="" /></a>
										<p id="case05title"></p>
									</td>
									<td>
										<a href="/TaxSoft/customer-z.html"><img height="164" id="case06img" width="273" alt=" " src="" /></a>
										<p id="case06title"></p>
									</td>
								</tr>
							</table>
						</td>
						<td><div id="scrollcopy" style="width:100%;"></div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    <div class="moreOli">
    	<a href="/TaxSoft/customer-1.html" class="">更多经典案例</a>
    </div>
</div>
<div class="i_m row" style="background:white; width: 100%; margin-top: 6px;">
	<div class="i_name" style="color: #777777;">
		<p style="font-size: 36px;">News</p>
        <p style="margin-top: 10px;">新闻中心</p>
    </div>
    <div class=" container-fluid" style="">
    	<ul class="row" style="color: #777777;">
           <li class="col-lg-5 col-lg-push-1">
           	  <div class="media row" style="margin-top: 15px;"> 
           	  	 <div style="width: 100%; text-align: center;" class="visible-xs">2017年物联网领域8大发展趋势分析</div>
				  <div class="media-left">
				    <a href="/TaxSoft/about-z.html">
				      <img class="media-object" id="news01img"  src="">
				    </a>
				  </div>
				  <div class="media-body  hidden-xs" style="text-align: left;width: auto;">
				    <p class="media-heading hidden-xs"><a href="/TaxSoft/about-z.html" id="news01title" style="font-weight: bold;">2017年物联网领域8大发展趋势分析</a><span style="display: inline-block;float: right;color: #777777;" id="news01date">[发布时间:2017.03.14]</span></p>
				    <span class="hidden-xs" id="news01desc">
				    OFweek物联网讯 过去，计算机经常成为僵尸恶意软件的攻击对象，这些恶意软件会对一些
					企业和网站进行攻击。随着计算机安全工具的改善，这些攻击开始转向移动装置...
                    </span>
                  </div>
			  </div>
			  <div class="media" style="margin-top: 15px;">
			  	 <div style="width: 100%; text-align: center;" class="visible-xs">2017年物联网领域8大发展趋势分析</div>
				  <div class="media-left">
				    <a href="/TaxSoft/about-z.html">
				      <img class="media-object" id="news02img"  src="">
				    </a>
				  </div>
				  <div class="media-body   hidden-xs" style="text-align: left;">
				    <p class="media-heading hidden-xs"><a href="/TaxSoft/about-z.html" id="news02title" style="font-weight: bold;">2017年物联网领域8大发展趋势分析</a><span style="display: inline-block;float: right;color: #777777;" id="news02date">[发布时间:2017.03.14]</span></p>
				    <span class="hidden-xs" id="news02desc">
				    OFweek物联网讯 过去，计算机经常成为僵尸恶意软件的攻击对象，这些恶意软件会对一些
					企业和网站进行攻击。随着计算机安全工具的改善，这些攻击开始转向移动装置...</span>
                  </div>
			  </div>
           </li>
           <li class="col-lg-5 col-lg-push-1">
           	   <div class="media" style="margin-top: 15px;">
           	   	 <div style="width: 100%; text-align: center;" class="visible-xs">2017年物联网领域8大发展趋势分析</div>
				  <div class="media-left">
				    <a href="/TaxSoft/about-z.html">
				      <img class="media-object" id="news03img"  src="">
				    </a>
				  </div>
				  <div class="media-body  hidden-xs" style="text-align: left;">
				    <p class="media-heading"><a href="/TaxSoft/about-z.html" id="news03title" style="font-weight: bold;">2017年物联网领域8大发展趋势分析</a><span style="display: inline-block;float: right;color: #777777;" id="news03date">[发布时间:2017.03.14]</span></p>
				    <span class="hidden-xs" id="news03desc">
				    OFweek物联网讯 过去，计算机经常成为僵尸恶意软件的攻击对象，这些恶意软件会对一些
					企业和网站进行攻击。随着计算机安全工具的改善，这些攻击开始转向移动装置...
                    </span>
				  </div>
			  </div>
			  <div class="media" style="margin-top: 15px;">
			  	<div style="width: 100%; text-align: center;" class="visible-xs">2017年物联网领域8大发展趋势分析</div>
				  <div class="media-left">
				    <a href="/TaxSoft/about-z.html">
				      <img class="media-object" id="news04img" src="">
				    </a>
				  </div>
				  <div class="media-body  hidden-xs" style="text-align: left;">
				    <p class="media-heading hidden-xs"><a href="/TaxSoft/about-z.html" id="news04title" style="font-weight: bold;">2017年物联网领域8大发展趋势分析</a><span style="display: inline-block;float: right;color: #777777;" id="news04date">[发布时间:2017.03.14]</span></p>
				    <span class="hidden-xs" id="news04desc">
				    OFweek物联网讯 过去，计算机经常成为僵尸恶意软件的攻击对象，这些恶意软件会对一些
					企业和网站进行攻击。随着计算机安全工具的改善，这些攻击开始转向移动装置...
                    </span>
                  </div>
			  </div>
           </li>
    	</ul>
    	<script type="text/javascript">
    		if($(window).width()<760){
				$(".media-left").css("width","100vw");
				$(".media-left").css("padding","0");
				$(".media-left img").css("width","100%");
			}
    	</script>
    </div>
</div>

<!--footer尾部-->
<div id="foot"></div>

<script src="/TaxSoft/js/js.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
   $(document).ready(function () {
	   $.ajax({
		   url:"/TaxSoft/case/queryData",
		   type:"post",
		   data:"",
		   contentType:"application/json",
		   dataType:"json",
		   success:function (data,textStatus) {
		   	$('#case01title').html(data.rows[0].ftitle);
		   	$('#case02title').html(data.rows[1].ftitle);
		   	$('#case03title').html(data.rows[2].ftitle);
		    $('#case04title').html(data.rows[3].ftitle);
		    $('#case05title').html(data.rows[4].ftitle);
		    $('#case06title').html(data.rows[5].ftitle);
			$("#case01img").attr("src", data.rows[0].fpic);
		    $("#case02img").attr("src", data.rows[1].fpic);
		    $("#case03img").attr("src", data.rows[2].fpic);
		    $("#case04img").attr("src", data.rows[3].fpic);
		    $("#case05img").attr("src", data.rows[4].fpic);
		    $("#case06img").attr("src", data.rows[5].fpic);


			   document.getElementById("scrollcopy").innerHTML = document.getElementById("scrollcon").innerHTML;
			   MyMar=setInterval(Marquee,speed);
		   }
	   });

	   $.ajax({
		   url:"/TaxSoft/news/queryData",
		   type:"post",
		   data:"",
		   contentType:"application/json",
		   dataType:"json",
		   success:function (data,textStatus) {
			   $('#news01title').html(data.rows[0].ftitle);
			   $('#news02title').html(data.rows[1].ftitle);
			   $('#news03title').html(data.rows[2].ftitle);
			   $('#news04title').html(data.rows[3].ftitle);
			   $("#news01img").attr("src", data.rows[0].fpic);
			   $("#news02img").attr("src", data.rows[1].fpic);
			   $("#news03img").attr("src", data.rows[2].fpic);
			   $("#news04img").attr("src", data.rows[3].fpic);
			   $('#news01date').html("[发布时间:"+data.rows[0].fdatetime+"]");
			   $('#news02date').html("[发布时间:"+data.rows[1].fdatetime+"]");
			   $('#news03date').html("[发布时间:"+data.rows[2].fdatetime+"]");
			   $('#news04date').html("[发布时间:"+data.rows[3].fdatetime+"]");
			   $('#news01desc').html(tranString(data.rows[0].fcontent));
			   $('#news02desc').html(tranString(data.rows[1].fcontent));
			   $('#news03desc').html(tranString(data.rows[2].fcontent));
			   $('#news04desc').html(tranString(data.rows[3].fcontent));

			   document.getElementById("scrollcopy").innerHTML = document.getElementById("scrollcon").innerHTML;
			   MyMar=setInterval(Marquee,speed);
		   }
	   });

   });

function tranString(str){
	if(str.length>75)
	{
		str=str.slice(0,70)+"...";
	}
	return str;
};



</script>

</body>
</html>
