<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                alert(1);
//                $.get("/TaxSoft/test",function(data,status){
//                    alert("数据：" + data.name + "\n状态1：" + status);
//                });
                $.ajax({
                    url: "/TaxSoft/post/queryPost",
                    type: 'POST',
                    dataType: 'json',
                    data: "{\"name\":\"dddd\"}",
                    contentType: 'application/json',
                    mimeType: 'application/json',
                    success: function(data) {
                        alert(data.name);
                    },
                    error:function(data,status,er) {
                        alert("error: "+data+" status: "+status+" er:"+er);
                    }
                });
//                $.post("/TaxSoft/post/queryPost","{\"name\":\"sk\"}");
            });
        });
    </script>
</head>
<body>

    <p>Helloddd!${name}</p>
    <button>测试 </button>
    <img class="img-responsive" src="/TaxSoft/logo.png" alt="税软logo">
</body>
</html>